<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div>
        <input 
        [(ngModel)]="user.name" 
        name="name" 
        placeholder="Nombre" 
        class="form-control my-2" 
        required
        #name="ngModel"
        >
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors!['required']" class="text-danger">
                El nombre es obligatorio
            </p>
        </div>
    </div>
    <div>
        <input 
        [(ngModel)]="user.lastname" 
        name="lastname" 
        placeholder="Apellidos" 
        class="form-control my-2" 
        required
        #lastname="ngModel"
        >
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            <p *ngIf="lastname.errors!['required']" class="text-danger">
                El apellido es obligatorio
            </p>
        </div>
    </div>
    <div>
        <input 
        [(ngModel)]="user.email" 
        name="email" 
        placeholder="Email" 
        class="form-control my-2" 
        type="email" 
        required
        email
        #email="ngModel"
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors!['required']" class="text-danger">
                El correo es obligatorio
            </p>
            <p *ngIf="email.errors!['email']" class="text-danger">
                No tiene el formato correcto
            </p>
        </div>
    </div>
    <div>
        <input 
        [(ngModel)]="user.username" 
        name="username" 
        placeholder="Usuario" 
        class="form-control my-2" 
        required minlength="8"
        #username="ngModel"
        >
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <p *ngIf="username.errors!['required']" class="text-danger">
                El usuario es obligatorio
            </p>
            <p *ngIf="username.errors!['minlength']" class="text-danger">
                El usuario debe tener al menos 8 caracteres
            </p>
        </div>
    </div>
    <div>
        <input 
        [(ngModel)]="user.password" 
        name="password" 
        type="password" 
        placeholder="Contraseña" 
        class="form-control my-2" 
        required minlength="6"
        #password="ngModel"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors!['required']" class="text-danger">
                La contraseña es obligatoria
            </p>
            <p *ngIf="password.errors!['minlength']" class="text-danger">
                La contraseña debe tener al menos 6 caracteres
            </p>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary m-2" [disabled]="userForm.invalid">{{user.id > 0 ? 'Modificar' : 'Crear'}}</button>
        <button type="button" class="btn btn-secondary my-2" (click)="clean(userForm)">Limpiar</button>
    </div>
</form>